/* 
    Document   : og_member.css
    Created on : 27 juin 2012, 12:52:03
    Author     : gregory
    Description:
        Purpose of the stylesheet follows.
*/
#block-og_member-0 {overflow: visible;}
#og_members div::selection {
  background: white; /* Safari */
  background-color: none; /* Firefox */
}
#og_members div::-moz-selection {
  background: white; /* Firefox */
  background-color: none; /* Firefox */
}

div.og_member_status {
  float: left;
  border: 2px solid #003375;
  min-height: 100px;
  width: 31%;
  text-align: center;
  margin-left: 1%;
}
div.og_member_status + div.og_member_status {

}

div.og_member_title {
  font-weight: bold;
  background: #003375;
  margin-bottom: 5px;
  color: white;
}

div.og_member_elt {
  width:98%;
  border: 1px solid #efefef;
}

div.og_member_elt:hover {
  background-color: #003375;
  color: white;
  cursor: move;
}

div#og_members {
  width: auto;
  height: 120px;
}
div.og_member_status #info-deplacement {
  position: absolute;
  top:-40px;
  font-size:10px;
  padding:10px;
  background: #efefef;
  border: 1px dashed #ccc;
}
